 .container {
    max-width: 650px !important;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 1px solid #b3bfca;
    border-radius: 5px;
}

.main-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}

#frmLogin {
    margin: 30px;
    margin-bottom: 0px;
}

.buttonsLogin {
    width: 200px;

}
#txtPassword, #txtEmail {
    width: 250px;
    float: right;
}

#page-login {
    max-width: 450px !important;
}

#btnLogin {
    width: 100%;
    /* width: 150px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: block;
}
#btnSignUp {
    width: 360px;
    /* width: 150px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    display: block;
}

#signup {
    padding: 10px;
    margin-bottom: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#resultArea {
    border: 1px solid #107df5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.buttons {
    width: 360px;
    text-align: center;
}

#loginArea {
    text-align: center;
}

.controls {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    width: 400px;
    padding: 20px;
    border: 1px solid #107df5;
    background-color: rgba(16, 125, 245, 0.1);
    border-radius: 5px;
}

.btnNav {
    margin-top: 7px;
    margin-left: 10px;
    margin-right: auto;
    display: block;
    height: 37px;
}

/* Article Item */
article.item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #b3bfca;
    border-radius: 5px;
}

article.item:hover {
    border: 1px solid #107df5;
    background-color: rgba(16, 125, 245, 0.1);
    cursor: pointer;
}

.btnLibrary {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    width: 80px;
}

#btnAdd {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

#frmLogout {
    height: 20px;
    margin-top: -11px;
}

.navName {
    margin-top: 3px;
    display: block;
}

.navbar-text {
    height: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(2, 123, 255, 1);
    color: white;
    text-align: center;
    height: 50px;
    line-height: 20px;
 }

 /* Table */

#tableList {
    margin: 30px 20px;
    max-width: 470px;
}

.tableList td{
    padding: 7px;
    /* border-top: none; */
}
.table th, .table td {
    border-top: none !important;
}

.small-collumn-custom {
    max-width: 45px ;
}

tr:nth-child(even) {
    background-color: rgba(234, 236, 239, 1);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 1);
}

tr {
    border: 1px solid rgba(16, 125, 245, 0.0);
}

tr:hover {
    border: 1px solid #107df5;
    background-color: rgba(16, 125, 245, 0.1);
    cursor: pointer;
}

thead tr{
    background-color: rgba(2, 123, 255, 1) !important;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.table-actions {
    display: inline-block;
    width: 190px;
}

/* Buttons */

.btnAddCart  {
    display: block;
    margin-left: 5px;
    margin-right: 0px;
    width: 80px;
    float: right;
}

.btnAddCart {
    width: 110px;
}

.btnShow, .btnUpdate, .btnDelete, .btnAddToCart {
    display: block;
    margin-left: 5px;
    margin-right: 0px;
    float: right;
}

/* Icons */

.icon-show, .icon-update, .icon-delete {
    width: 22px;
    height: 22px;
}

div.smallButtons {
    float: right;
}
img.smallButton {
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    padding: 2px;
    border: thin solid black;
    border-radius: 3px;
    background-color: lightgray;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Modal */
#modalTitle {
    font-size: 2rem;
    text-align: center;
    margin-left: 20px;
    font-weight: 600;
}

.modal-body {
    margin: 20px;
}

.tag {
    font-weight: 700;
    border: 1px solid rgba(2, 123, 255, 0.7);
    border-radius: 5px;
    background-color: rgba(2, 123, 255, 0.1);
    padding: 5px;
    margin-right: 10px;
    line-height: 20px;
}

.img-actor-small {
    width: 40px;
    height: 60px;
}
/* End Modal */

/* Sidebar */
.sidebar {
    height: 105px; 
    width: 75px; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 100px; /* Stay at the top */
    left: 0;
    background-color: rgb(2, 123, 255, 0.1); 
    overflow-x: hidden; /* Disable horizontal scroll */
    text-align: center;
}
.sidebar button {
    margin-top: 10px;
    width: 65px;
}
/* End Sidebar */

/* Navigation Toogle button */
.navbar-toggler {
    border: 1px solid #005cbf !important;
}
.navbar-toggler-icon{
    width: 22px !important;
    height: 22px !important;
    background-image: url(../img/list.svg)!important;
    background-repeat: no-repeat;
}
.navbar-toggler:hover {
   background-color: #005cbf;
   border: 1px solid #005cbf !important;
}

/* Responsivity */
@media only screen and (max-width: 767px) {
    /* Top Navigation */
    .navbar {
        text-align: center;

    }
    .navbar-text, .navName, .btnNav {
        display: block;
        text-align: center;
        width: 100%;
        max-width: 250px;
    }
}

@media only screen and (max-width: 600px) {
    /* Sidebar navigation */
    .sidebar {
        top: 350px; /* Stay at the top */
    }
    .container {
        max-width: 500px  !important;
        padding-right: 1px !important;
        padding-left: 1px !important;
    }
    .main-title {
        font-size: 3rem;
    } 
    .controls {
        width: 300px;
    }

    /* Table */
    .tableList {
        max-width: 500px !important;
        margin-right: auto;
        margin-left: auto;
    }
    thead tr {
        font-size: 1.0rem;
    }
    .tableList tr th:nth-child(1) {
        max-width: 13px !important;
    }
    .tableList td {
        margin: 5px 0px  !important;
        vertical-align: inherit !important;
    }
    .small-collumn-custom {
        max-width: 45px;
        padding-right: 1px !important;
        padding-left: 2px !important;
    }
    .tableList td:nth-child(2) {
        max-width: 200px;
    }
    .tableList td:last-child {
        max-width: 135px;
        padding-right: 3px;
        padding-left: 3px;
    }
    .table-actions {
        display: inline-block;
        width: 135px;
        padding: 0;
    }
    .btnShow, .btnUpdate, .btnDelete, .btnAddToCart {
        display: block;
        margin-left: 3px;
        margin-right: 0px;
        float: right;
        padding: 4px 8px !important;
    }
    /* Icons */
    .icon-show, .icon-update, .icon-delete {
        width: 22px;
        height: 22px;
    }
    
    /* Library */
    .buttons {
        width: 260px;
        text-align: center;
    }

    #loginArea .buttons {
        width: 360px;
    }
}

@media only screen and (max-width: 575px) {
    /* Login Page */
    #page-login {
        max-width: 300px !important;
    }
    #loginArea .buttons {
        width: 240px;
    }
    #txtEmail, #txtPassword, #btnLogin, #btnSignUp {
        width: 235px;
        margin: 0px;
    }
    #btnSignUp {
        margin-top: 5px;
        margin-bottom: 25px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 235px;
    }
}

@media only screen and (max-width: 450px) {
    body {
        background-color: rgba(106, 154, 215, 0.0);
    }
    .container {
        width: 320px;
        padding-right: 1px !important;
        padding-left: 1px !important;
    }
    .main-title {
        font-size: 2.5rem;
    }
    .tableList {
        /* background-color: yellow; */
        max-width: 200px !important;
        margin-right: auto;
        margin-left: auto;
    }
    thead tr {
        font-size: 1.0rem;
    }
    .tableList tr th:nth-child(1) {
        max-width: 13px !important;
    }
    .tableList td {
        margin: 5px 0px  !important;
        vertical-align: inherit !important;
    }
    .small-collumn-custom {
        max-width: 45px;
        padding-right: 1px !important;
        padding-left: 2px !important;
    }
    .small-collumn-custom-2 {
        max-width: 45px;
        padding-right: 1px !important;
        padding-left: 2px !important;
    }
    
    .tableList td:nth-child(2) {
        max-width: 200px;
    }
    td.big-collumn-custom {
        width: 200px !important;
        padding-right: 30px !important;
        padding-left: 10px !important;
    }
    .tableList td:last-child {
        max-width: 122px;
        padding-right: 2px;
        padding-left: 2px;
    }
    .table-actions {
        display: inline-block;
        width: 122px;
        padding: 0;
    }
    .btnShow, .btnUpdate, .btnDelete, .btnAddToCart {
        display: block;
        margin-left: 3px;
        margin-right: 0px;
        float: right;
        padding: 4px 8px !important;
    }
    /* Icons */
    .icon-show, .icon-update, .icon-delete {
        width: 18px;
        height: 18px;
    }
}
