
 .container {
    max-width: 550px !important;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 1px solid #b3bfca;
    border-radius: 5px;
}

.main-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}

#resultArea {
    border: 1px solid #107df5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Article Item */
article.item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #b3bfca;
    border-radius: 5px;
}

article.item:hover {
    border: 1px solid #107df5;
    background-color: rgba(16, 125, 245, 0.1);
    cursor: pointer;
}

.buttons {
    width: 100%;
    /* display: inline-block; */
    text-align: center;
}
.btnLibrary {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    width: 80px;
}

#btnAdd {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(2, 123, 255, 1);
    /* background-color: rgb(55, 175, 255); */
    color: white;
    /* color: rgb(31, 28, 28); */
    text-align: center;
    height: 50px;
    line-height: 20px;
 }


 /* Table */

.tableList {
    margin: 30px 20px;
    /* width: auto; */
    /* text-align: center; */
    max-width: 470px;
}

.tableList td{
    padding: 7px;
}

tr:nth-child(even) {
    background-color: rgba(234, 236, 239, 1);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 1);
}

tr {
    border: 1px solid rgba(16, 125, 245, 0.0);
}

tr:hover {
    border: 1px solid #107df5;
    background-color: rgba(16, 125, 245, 0.1);
    cursor: pointer;
}

thead tr{
    background-color: rgba(2, 123, 255, 1) !important;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
}

.table-actions {
    display: inline-block;
    width: 190px;
}

/* Buttons */

.btnAddCart  {
    display: block;
    margin-left: 5px;
    margin-right: 0px;
    width: 80px;
    float: right;
}

.btnAddCart {
    width: 110px;
}

.btnShow, .btnUpdate, .btnDelete, .btnAddToCart {
    display: block;
    margin-left: 5px;
    margin-right: 0px;
    /* width: 45px;
    height: 40px; */
    float: right;
}

/* Icons */

.icon-show, .icon-update, .icon-delete {
    width: 22px;
    height: 22px;
}


div.smallButtons {
    float: right;
}
img.smallButton {
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    padding: 2px;
    border: thin solid black;
    border-radius: 3px;
    background-color: lightgray;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    cursor: pointer;
}


/* Modal */
#modalTitle {
    font-size: 2rem;
    text-align: center;
    margin-left: 20px;
    font-weight: 600;
}

.modal-body {
    margin: 20px;
}

.tag {
    font-weight: 700;
    /* border: 1px solid #107df5; */
    border: 1px solid rgba(2, 123, 255, 0.7);
    border-radius: 5px;
    background-color: rgba(2, 123, 255, 0.1);
    padding: 5px;
    margin-right: 10px;
    line-height: 20px;
}

.img-actor-small {
    width: 40px;
    height: 60px;
}
/* End Modal */



/* Sidebar */
.sidebar {
    height: 105px; 
    width: 75px; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 100px; /* Stay at the top */
    left: 0;
    background-color: rgb(2, 123, 255, 0.1); 
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 20px; */
    text-align: center;
}
.sidebar button {
    margin-top: 10px;
    width: 65px;
}
/* End Sidebar */

